@charset "utf-8";

/* main container styling */
main {
  width: 240px;
  margin: 32px auto;
}

/* section styling */
section {
  border: 4px double red;
  text-align: center;
  color: red;
}

/* header styling */
h1 {
  margin: 0;
  border-bottom: 2px solid red;
  font-weight: normal;
  padding: 8px 0;
}

/* paragraph styling */
p {
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  padding: 24px 0;
}

#message {
  font-size: 16px;
  color: red;
  white-space: nowrap;
  text-align: center; 
}

button {
  all: unset;
  width: 100%;
  background: red;
  border-radius: 8px;
  color: white;
  text-align: center;
  padding: 8px 0;
  margin-top: 16px;
  cursor: pointer;
  box-shadow: 0 4px #7a0000;
}

button:hover {
  opacity: .8;
}

button:active {
  box-shadow: 0 1px #7a0000;
  transform: translateY(3px);
}